---
---

@import "{{ site.theme }}";
a {
  color: #924046;
}

a :hover {
  color: #924046;
  font-weight: bold 
}

body {
  color: #222222;
}

footer {
  color: #c5c2c2;
}

.footeremph {
  color: #222222;
  text-decoration: underline;
}
